<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>후기 작성하기</title>
</head>
<body>
  <!-- Header-->
  <header class="masthead d-flex align-items-center">
    <h3>후기 작성</h3>
  </header>
  <hr>
  <section>
    <form method="post" action="{% url 'review_detail' %}">
      {% csrf_token %}
      <div>
        <input type="text" placeholder="제목을 입력해 주세요" name="title" required>
        <select name="d_day" required>
          {% for i in day_range %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <textarea rows="10" cols="50" name="review" required></textarea>
      </div>
      <div>
        <span>작성자 : {{ request.user }}</span>
        <span>작성일 : {% now "Y년 m월 d일" %}</span>
        <button type="submit" name="tmp_flag" value="True">임시저장</button>
        <button type="submit" name="tmp_flag" value="False">저장</button>
      </div>
    </form>
  </section>
</body>
</html>