<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>후기 게시판</title>
</head>
<body>
  <!-- Header-->
  <header class="masthead d-flex align-items-center">
    <h3>후기 게시판</h3>
  </header>
  <hr>
  <section>
    <table>
    <thead>
      <tr>
        <th scope="col">게시판 번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성날짜</th>
        <th scope="col">좋아요</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <th>{{ review.id }}</th>
        <td>{{ review.title }}</td>
        <td>{{ review.writer.name }}</td>
        <td>{{ review.date }}</td>
        <td>{{ review.like_count }}</td>
        <td>{{ review.reviews }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </section>
</body>
</html>